@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');

// Your variable overrides
$enable-rounded: false;
$enable-responsive-font-sizes: true;

$green:   #178A1F;
$light: #f7f7f7;
$dark: #262626;

$spacer: 2rem;

$font-family-base: 'Open Sans', sans-serif;
$font-weight-base: 300;
$font-weight-bold: 600;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3.2;
$h2-font-size: $font-size-base * 2.6;
$lead-font-size: $font-size-base * 2.2;

$headings-font-weight: $font-weight-bold;

$hr-border-color: $green;

$navbar-nav-link-padding-x: 3rem;
$navbar-toggler-font-size: 1.2rem;

$input-padding-y: 0.75rem;
$input-padding-x: 1rem;
$input-placeholder-color: #d3d3d3;
$input-border-color: #d3d3d3;
$input-border-width: 2px;

$btn-padding-y: 0.7rem;
$btn-padding-y-lg: 1rem;
$btn-padding-y-sm: 0.5rem;

@import "../node_modules/bootstrap/scss/bootstrap";

@media (max-width: 767px) {
  .btn-xs-block {
    width: 100%;
  }
}

.nav-link {
  font-size: $font-size-lg;
}

.mw-315px {
  max-width: 315px;
}

hr {
  width: 100px;
}

.border-md {
  border-width: 3px;
}

.bg-stadium {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  filter: brightness(0.4);
  background-image: url('./../images/bg-stadium.jpg');
  background-size: cover;
  background-position: center center;
}

.w-40px {
  width: 40px;
}